{%- unless level -%}
{%- assign level = 1 -%}
{%- endunless -%}
<header class="sandwich">
<h{{level}}>{{ title }}</h{{level}}>
{%- if author %}
<p class="author">{{ author | replace: " ", " " }}</p>
{%- endif -%}
{%- if photographer %}
<p class="photographer">Photographer: {{ photographer | replace: " ", " " }}</p>
{%- endif -%}
{%- if talkBy %}
<p class="talk-by">A talk by {{ talkBy }}</p>
{%- endif -%}
</header>
